<nav
        class="bg-white-500 mt-6 mb-16 md:mb-20 xl:mb-24 2xl:mb-20 px-6 lg:px-0 navbar {{ page == '404' ? 'hidden' : 'block' }}"
        x-data="HeaderData"
        :class="{'navbar--open': isMenuOpen, 'navbar--sticky': isSticky}"
>
    <div class="flex flex-wrap items-center justify-between mx-auto lg:container">
        {% include 'partial/brand.twig' %}
        {% include 'partial/hamburger.twig' %}
        <div class="hidden w-full lg:block lg:w-auto navbar__menu" id="navbar-default">
            {% include 'menu.twig' with {
                'items': main_menu.items
            } %}
        </div>
    </div>
</nav>

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('HeaderData', () => ({
            isMenuOpen: false,
            isSticky: false,
            navbarHeight: '96px',
            openMenuClickHandler() {
                this.isMenuOpen = !this.isMenuOpen;
            },
            updateStickyState() {
                this.isSticky = window.scrollY >= 150;
            },
            init() {
                this.navbarHeight = this.$refs.HeaderNavbar.clientHeight + 'px';
                window.addEventListener('scroll', () => {
                    this.updateStickyState();
                });
                this.updateStickyState();

                let root = document.documentElement;
                root.style.setProperty('--navbar-height', this.navbarHeight)
            }
        }))
    })
</script>