<section class="sample-block-1 section {{ block.customClass }}" {{ block.anchor }} data-block="{{ block.name|replace({'mm/': ''}) }}">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Title</h1>
                <h2>Subtitle</h2>

            </div>
        </div>
    </div>
</section>