<a href="{{ site.url }}" class="flex items-center gap-4 text-purple-500 navbar__brand" aria-label="Przejdź do strony głównej">
    <div class="hidden lg:inline-block">
        <h2 class="text-xl font-bold whitespace-nowrap text-purple-500 leading-none">TimberTail</h2>
    </div>
</a>