{% if site_logo %}
    <div class="max-w-[80px] lg:max-w-[140px] xl:max-w-[180px]">
        {{ site_logo }}
    </div>
{% else %}
    <a href="{{ site.url }}" class="navbar__brand" aria-label="Przejdź do strony głównej">
        <div class="inline-block">
            <hq class="text-xl font-bold font-brico whitespace-nowrap text-picton-blue leading-none">Planet English</hq>
        </div>
    </a>
{% endif %}
