{% extends "base.twig" %}

{% block content %}
    <div class="">
        <h1 class="">Page Not Found</h1>
        <p class="">Sorry, we couldn't find what you're looking for.</p>
    </div>
{% endblock %}
