@tailwind base;
@tailwind components;
@tailwind utilities;

.editor-styles-wrapper {
  @import "base/fonts";
  @import "base/typography";
  //...

  @import "components/buttons";
  //...

  @import "../../blocks/sample-block-1/editor";
  //...

  .acf-block-component,
  .editor-editor-canvas__post-title-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  padding-bottom: 4rem !important;

  h1.wp-block-post-title {
    @apply mx-auto mb-12 text-4xl font-bold;
  }
}
